# https://github.com/damnever/pigar

# autotext/admin.py: 1,2
# autotext/apps.py: 1
# autotext/forms.py: 1,2,3
# autotext/migrations/0001_initial.py: 4,5
# autotext/migrations/0002_auto_20190319_1844.py: 3
# autotext/migrations/0003_auto_20190319_1927.py: 3
# autotext/migrations/0004_webography_name.py: 3
# autotext/migrations/0005_auto_20190401_1601.py: 3
# autotext/migrations/0006_remove_webography_raw_urls.py: 3
# autotext/models.py: 1
# autotext/models/reference.py: 6
# autotext/models/webography.py: 1,4
# autotext/templatetags/util.py: 2
# autotext/tests.py: 2
# autotext/urls.py: 1
# autotext/views.py: 2,4,5
# manage.py: 8
# projet_individuel_fcouthouis/urls.py: 17
# projet_individuel_fcouthouis/wsgi.py: 12
django>=2.1.6

# autotext/models/referencePDF.py: 4
PyPDF2 >= 1.26.0

# autotext/Helpers/sscholar.py: 9
# autotext/models/referenceWeb.py: 4
beautifulsoup4 >= 4.7.1

# autotext/models/referencePDF.py: 7
gscholar >= 1.6.1

# autotext/models/referencePDF.py: 6
pdftitle == 0.3

# autotext/models/reference.py: 4
pybtex >= 0.22.2
pybtex-apa-style >= 1.3

# autotext/models/referencePDF.py: 2,3
# autotext/models/referenceWeb.py: 1,2
# autotext/models/webography.py: 3
requests>=2.20.0

# autotext/Helpers/sscholar.py: 10,11,12,13,14,15
selenium >= 3.141.0

# autotext/models/reference.py: 5
six >= 1.11.0

# autotext/models/webography.py: 2
urlextract >= 0.8.3
