<!-- templates/registration/index.html -->
{% extends 'autotext/base.html' %} {% block content %}

<body class="index-body">
  <div class="container-fluid">
    <div class="">
      <form class="post-form col-md" method="post">
        {% csrf_token %}




        <div class="row">
          <div class="col-sm">
            <div class="controls">
              <button width="20" type="submit" class="btn btn-custom btn-block">
                Génerer ma webographie
              </button>
            </div>

            <textarea required class="form-control index-textarea" rows="20" placeholder="Copier ici votre liste d'urls puis cliquez sur Générer ma webographie : http://... http://...
              ..." type="urlList" id="id_urlList" name="urlList">{{ form.urlList.value }}</textarea>

          </div>

          {%if webography_bib %}

          <div class="index-tabs col-sm">
            <div class="index-tab-2">
              <label for="index-tab2-1">Bibtex</label>
              <input id="index-tab2-1" name="index-tabs-two" type="radio" checked="checked" />
              <div class="index-textarea-container">
                <span title="Copier dans le presse papier" class="copy-btn" onclick="copyTextarea('textarea-bib')"><i
                    class="fa fa-copy"></i></span>
                <textarea id="textarea-bib" class="col-md form-control index-textarea" rows="20" readonly>{{ webography_bib }}
                    </textarea>
              </div>

            </div>
            <div class="index-tab-2">
              <label for="index-tab2-2">Apa</label>
              <input id="index-tab2-2" name="index-tabs-two" type="radio" />
              <div class="index-textarea-container">
                <span title="Copier dans le presse papier" class="copy-btn btn"
                  onclick="copyTextarea('textarea-apa')"><i class="fa fa-copy"></i></span>
                <textarea id="textarea-apa" class="col-sm-5 form-control col-md index-textarea" rows="20" readonly>{{ webography_apa }}
                    </textarea>
              </div>
            </div>
          </div>
          <!--index tab -->
          {%endif%}

          <br />

        </div>

      </form>
    </div>
  </div>


</body>

<script type="text/javascript" src="static/autotext/scripts/copyToClipboard.js"></script>

{% endblock %}