<!-- templates/registration/index.html -->
{% extends 'autotext/base.html' %} {% block content %}
<body class="index-body">
  <div class="container index-container">
    <div class="">
      <form class="post-form col-md" method="post">
        {% csrf_token %}

        <div class="">

                

          {%if webography_bib %}

            <div class="index-tabs">
              <div class="index-tab-2">
                <label for="index-tab2-1">Bibtex</label>
                <input id="index-tab2-1" name="index-tabs-two" type="radio" checked="checked">
                <div class="row">
                <textarea class="col-sm-5 form-control index-textarea" rows="15" type="urlList" id="id_urlList1" name="urlList">{{ form.urlList.value }}</textarea>   
                  <textarea class="col-sm-5 form-control index-textarea" rows="20" readonly>{{ webography_bib }}
                  </textarea>
                </div>
              </div>
              <div class="index-tab-2">
                <label for="index-tab2-2">Apa</label>
                <input id="index-tab2-2" name="index-tabs-two" type="radio">
                <div class="row">
                <textarea class="col-sm-5 form-control index-textarea" rows="15" type="urlList" id="id_urlList2" name="urlList">{{ form.urlList.value }}</textarea>   
                  <textarea class="col-sm-5 form-control col-md index-textarea" rows="20" readonly>{{ webography_apa }}
                  </textarea>
                </div>
              </div>
            </div>

           
            

          {% comment %} </div> {% endcomment %}
          {%endif%}

        </div>

        <br />

        <button type="submit" class="btn btn-primary float-right">
          Génerer ma webographie
        </button>
      </form>
    </div>
  </div>
  <span class="glyphicon glyphicon-search"></span>


    <!-- Modal edit webography -->
    <div
      class="modal fade"
      id="editWebModal"
      index-tabindex="-1"
      role="dialog"
      aria-hidden="false"
    >
      {% include "./webography_form.html" with form=webography_form edit=1%}
    </div>
</body>

{% endblock %}
