<!-- templates/autotext/myReferences.html -->

{% extends 'autotext/base.html' %} {% block content %} 
{% load util %}
<body class="myReferences-body">
  <div class="container">
    {% if user.is_authenticated %}


    {%if no_webography%}
    <button class="btn btn-lg text-right" data-toggle="modal" data-target="#addWebModal">
        <i title="Ajouter une webographie" class="fa fa-plus-circle"></i> Créer votre première webographie !
      </button>

    {%else%}
    <div class="row">
      <button class="btn btn-lg text-right" data-toggle="modal" data-target="#addWebModal">
        <i title="Ajouter une webographie" class="fa fa-plus-circle"></i>
      </button>
      
      <form class="form-inline" action="myReferences/setWebography" method="post">
          {% csrf_token %}

          <select class="form-control" name="webography" onChange="this.form.submit();">
          {% for web in webography_form.webography.field.queryset %}
            <option 
            {%if request.session.webography_id == web.id%}
              selected
            {% endif %}
            value="{{web.id}}">{{web.name}}</option>
            {% endfor %}
          </select>
      </form>

      
          
        <button class="btn btn-lg" data-toggle="modal" data-target="#editWebModal">
          <i title="Renommer la webographie" class="fa fa-edit"></i>
        </button>
        <form class="" action="myReferences/deleteWebography" method="post">
        {% csrf_token %}
          <button class="btn btn-lg" type="submit">
            <i title="Supprimer la webographie" class="fa fa-trash"></i>
          </button>
        </form>
    </div>



    <button class="float-right btn btn-lg" data-toggle="modal" data-target="#addRefModal">
      <i title="Ajouter une référence" class="fa fa-2x fa-book"></i>
    </button>
    <button class="float-right btn btn-lg" data-toggle="modal" data-target="#addManyRefModal">
      <i title="Ajouter plusieurs références" class="fa fa-2x fa-plus-circle"></i>
    </button>

    {%if reference_set is not None %}

    <table class="table table-hover table-responsive-xl text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Url</th>
          <th scope="col">Bibtex</th>
          <th scope="col">Apa</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for ref in reference_set %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td class="url_reference">
            <button
              title="Cliquez-moi pour me copier dans votre presse papier !"
              class="url_copy_btn btn"
              onclick="copyRefToClipBoard('{{ forloop.counter0 }}','url')"
            >
              {{ ref.url }}
            </button>
            
          </td>
          <td class="bibtex_reference">
            <button
              title="Cliquez-moi pour me copier dans votre presse papier !"
              class="bibtex_copy_btn btn"
              onclick="copyRefToClipBoard('{{ forloop.counter0 }}', 'bibtex')"
            >
              {{ ref.bibtex_reference }}
            </button>
            
          </td>
          <td class="apa_reference">
            <button
              title="Cliquez-moi pour me copier dans votre presse papier !"
              class="apa_copy_btn btn"
              onclick="copyRefToClipBoard('{{ forloop.counter0 }}','apa')"
            >
              {{ ref.apa_reference }}
            </button>
            
          </td>
          <td>
            <button
              class="btn btn-lg"
              data-toggle="modal" data-target="#editRefModal{{ref.id}}"
            >
              <i title="Modifier la référence" class="fa-lg fa fa-edit"></i>
            </button>

            <form method="post" action="/myReferences/deleteReference">
            {% csrf_token %}
              <button
              class="btn btn-lg" type="submit" name="delete_ref" value="{{ref.id}};{{ref|get_type}}"
              >
              <i title="Supprimer la référence" class="fa-lg fa fa-trash"></i>
            </button>
            </form>

          </td>
        </tr>
        <!-- Modal edit ref -->
        <div
          class="modal fade"
          id="editRefModal{{ref.id}}"
          tabindex="-1"
          role="dialog"
          aria-hidden="false"
        >
          {% include "./reference_form.html" with webography=webography form=reference_form ref=ref %}
        </div>
        

        {% endfor %}
        
      </tbody>
    </table>
      {%endif%}
    {% endif %}
    {% endif %}


    <!-- Modal add webography -->
    <div
      class="modal fade"
      id="addWebModal"
      tabindex="-1"
      role="dialog"
      aria-hidden="false"
    >
      {% include "./webography_form.html" with form=webography_form edit=0%}
    </div>

    <!-- Modal edit webography -->
    <div
      class="modal fade"
      id="editWebModal"
      tabindex="-1"
      role="dialog"
      aria-hidden="false"
    >
      {% include "./webography_form.html" with form=webography_form edit=1%}
    </div>

    <!-- Modal add ref -->
    <div
      class="modal fade"
      id="addRefModal"
      tabindex="-1"
      role="dialog"
      aria-hidden="false"
    >
      {% include "./reference_form.html" with form=reference_form %}
    </div>

    <!-- Modal add manyref -->
    <div
      class="modal fade"
      id="addManyRefModal"
      tabindex="-1"
      role="dialog"
      aria-hidden="false"
    >
    {% include "./reference_form.html" with form=references_form manyRef=1%}
    </div>
    


    </div>
  </div> <!--container -->
  <script
    type="text/javascript"
    src="static/autotext/scripts/myReferences.js"
  ></script>
</body>
{% endblock %}
