<!-- templates/registration/loginForm.html -->

<form action="" method="post" class="submission-form">
  {% csrf_token %} {% if form.errors %}
  <p class="error">Sorry, that is not a valid username or password</p>
  {% endif %}

  <div class="input-group">
    <div class="input-group-prepend">
      <span id="fa-user-form" class="input-group-text">
        <i class="fa fa-user login-icon"></i>
      </span>
    </div>
    <input type="text" class="form-control" name="username" id="username" placeholder="Identifiant" required />
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span id="fa-user-form" class="input-group-text">
        <i class="fa fa-lock login-icon"></i>
      </span>
    </div>
    <input type="password" name="password" id="password" class="form-control" placeholder="Mot de passe" required />
  </div>
  <br>
  <div class="form-group">
    <button type="submit" value="login" formaction="/accounts/login/" class="btn btn-custom btn-block btn-auth">
      Connexion
    </button>
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next | escape }}" />
  </div>
  <div class="help-block text-right text-center">
    <a class="registerLink" href="/signup">Inscription</a>
  </div>
</form>