<!-- templates/registration/signup.html -->
{% extends '../autotext/base.html' %} {% block content %}
<div class="container">
  <h2>Créer un compte</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
       <p>
        {% for error in field.errors %}
        <div class="alert alert-danger">
            <strong>{{ error }}</strong>
        </div>
        {% endfor %}
        <div class="form-group">
          <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text"> <i class="{{field.field.widget.attrs.icon}}"></i> </span>
              </div>
              <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="id_{{ field.name }}" placeholder="{{ field.field.widget.attrs.placeholder }}" class="form-control"> 
              </div>
        {% if field.help_text %}
            <small class="form-text text-muted" style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        </div> <!-- form-group// -->
      </p>
    {% endfor %}

    <button class="btn btn-dark btn-block btn-auth" type="submit">S'inscrire</button>
  </form>
</div>



{% endblock %}